<main class="contenedor">
    <form action="/vacantes/editar/{{vacante.url}}" method="POST" class="default-form">
        <h3>Informaci&oacute;n General</h3>

        <div class="campo">
            <label for="">T&iacute;tulo</label>
            <input type="text" name="titulo" placeholder="Ej: React Developer" value="{{vacante.titulo}}">
        </div>

        <div class="campo">
            <label for="">Empresa</label>
            <input type="text" name="empresa" placeholder="Empresa que contrata" value="{{vacante.empresa}}">
        </div>

        <div class="campo">
            <label for="">Ubicaci&oacute;n</label>
            <input type="text" name="ubicacion" placeholder="Ej: Ecuador o Remoto" value="{{vacante.ubicacion}}">
        </div>

        <div class="campo">
            <label for="">Salario (USD)</label>
            <input type="text" name="salario" placeholder="Ej: $1,500 USD" value="{{vacante.salario}}">
        </div>

        <div class="campo">
            <label>Contrato</label>
            <select name="contrato" value="{{vacante.contrato}}">
                {{#tipoContrato vacante.contrato}}
                    <option value="" disabled>-- Selecciona --</option>
                    <option value="Freelance">Freelance</option>
                    <option value="Tiempo Completo">Tiempo Completo</option>
                    <option value="Medio Tiempo">Medio Tiempo</option>
                    <option value="Por Proyecto">Por Proyecto</option>
                {{/tipoContrato}}
            </select>
        </div>

        <h3>Descripci&oacute;n del Puesto</h3>
        <div class="campo descripcion">
            <label>Descripci&oacute;n</label>
            <input type="hidden" name="descripcion" id="x" value="{{{vacante.descripcion}}}">
            <trix-editor input="x"></trix-editor>
        </div>

        <h3>Conocimientos</h3>
        <ul class="lista-conocimientos">
            {{#seleccionarSkills vacante.skills}}
            {{/seleccionarSkills}}
        </ul>

        <div class="campo centrar-horizontal">
            <input type="hidden" name="skills" id="skills">
            <input type="submit" value="Guardar Cambios" class="btn btn-azul">
        </div>
    </form>
</main>