<div class="contenido-superior vacante contenedor">
    <div class="caja">
        <p class="etiqueta">Empresa</p>
        <p class="nombre">{{empresa}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Ubicaci&oacute;n</p>
        <p class="nombre">{{ubicacion}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Contrato</p>
        <p class="nombre">{{contrato}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Salario</p>
        <p class="nombre">{{salario}}</p>
    </div>
</div>

<div class="vacante-contenedor contenedor">
    <main class="contenido">
        <h2>Descripci&oacute;n del Puesto</h2>
        <div class="vacante-descripcion">
            {{{descripcion}}}
        </div>

        <a href="/vacantes/editar/{{url}}" class="btn btn-azul editar-btn">Editar Vacante</a>
    </main>
    <aside class="sidebar">
        <h2>Conocimientos Deseados</h2>
        <ul class="skills">
            {{#each skills}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </aside>
</div>

<div class="contenedor datos-reclutador">
    <div class="enviar-datos">
        <h2>Contactar Reclutador</h2>
        <p>Llena el siguiente formulario</p>
        <form action="/vacantes/{{url}}" method="POST" class="default-form" enctype="multipart/form-data">
            <div class="campo">
                <label>Nombre</label>
                <input type="text" name="nombre" placeholder="Tu Nombre">
            </div>
            <div class="campo">
                <label>E-mail</label>
                <input type="email" name="email" placeholder="Tu E-mail">
            </div>
            <div class="campo">
                <label>CV (PDF)</label>
                <input type="file" name="cv">
            </div>
            <div class="campo">
                <input type="submit" value="Enviar" class="btn btn-verde">
            </div>
        </form>
    </div>
    <div class="info-reclutador">
        <h2>Informaci&oacute;n del Reclutador</h2>
        {{#if autor.nombre}}
            <p>{{autor.nombre}}</p>
        {{/if}}
        {{#if autor.imagen}}
            <img src="/uploads/perfiles/{{autor.imagen}}" />
        {{/if}}
    </div>
</div>